{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Transactions{% endblock %}</h1>
  {% if g.username %}
    <a class="action" href="{{ url_for('home.index') }}">Home</a>
    <a class="action" href="{{ url_for('transactions.add') }}">Add</a>
  {% endif %}
{% endblock %}

{% block content %}
  <ul>
    {% if g.username %}
        {% for transaction in transactions %}
          <article class="transaction">
            <header>
              <div>
                <h1>{{ transaction['date'] }}</h1>
                <div class="payer">by {{ transaction['payer'] }}</div>
                <div class="amount">by {{ transaction['amount'] }}</div>
                <div class="payee">by {{ transaction['payee'] }}</div>
              </div>
              <a class="action" href="{{ url_for('transactions.edit', id=transaction['_id']) }}">Edit</a>
            </header>
          </article>
        {% endfor %}
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>   
{% endblock %}