{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Transactions{% endblock %}</h1>
  {% if g.username %}
    <a class="action" href="{{ url_for('home.index') }}">home</a>
    <a class="action" href="{{ url_for('transactions.add') }}">add</a>
    <a class="action" href="{{ url_for('transactions.bulk') }}">bulk</a>
  {% endif %}
{% endblock %}

{% block content %}
  <ul>
    {% if g.username %}
        {% for transaction in transactions %}
          <article class="transaction">
            <header>
              <div>
                <h1>{{ transaction['date'] }}</h1>
                <div class="payer">  Payer: {{ transaction['payer'] }}</div>
                <div class="amount"> Amount: {{ transaction['amount'] }}</div>
                <div class="payee">  Payee: {{ transaction['payee'] }}</div>
              </div>
              <a class="action" href="{{ url_for('transactions.edit', id=transaction['_id']) }}">edit</a>
            </header>
          </article>
        {% endfor %}
    {% endif %}
  </ul>   
{% endblock %}