{% extends 'base.html' %}

{% block header %}
  {% block title %}all{% endblock %}
  {% if g.username %}
    <a class="action" href="{{ url_for('transactions.add') }}">add</a>
    <a class="action" href="{{ url_for('transactions.bulk') }}">bulk</a>
  {% endif %}
{% endblock %}

{% block content %}
    {% if g.username %}
    
      <table>
      <thead>
        <th>date</th>
        <th>payer</th>
        <th>payee</th>
        <th>amount</th>
      </thead>

      <tbody> 
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction['date']   }}</td>
            <td>{{ transaction['payer']  }}</td>
            <td>{{ transaction['payee']  }}</td>
            <td>{{ transaction['amount'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    {% endif %}
{% endblock %}
