{% extends 'base.html' %}

{% block header %}
  {% block title %}edit:{{transaction['payer']}} to {{transaction['payer']}} on {{transaction['date']}}{% endblock %}
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ form.csrf_token }}
    {{ render_field(form.payer) or transaction['payer'] }}
    {{ render_field(form.payee) or transaction['payee'] }}
    {{ render_field(form.amount) or transaction['amount'] }}
    {{ render_field(form.date) or transaction['date'] }}
  </dl>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}