{% extends 'base.html' %}

{% block header %}
  {% block title %}edit:{{transaction.payer}} to {{transaction.payee}} on {{transaction.date}}{% endblock %}
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ form.csrf_token }}
    {{ render_field(form.payer) }}
    {{ render_field(form.payer_account) }}
    {{ render_field(form.payee) }}
    {{ render_field(form.payee_account) }}
    {{ render_field(form.amount) }}
    {{ render_field(form.date) }}
  </dl>
  <p>{{ form.submit() }}</p>
</form>
<form action="{{ url_for('transactions.delete', _id=transaction.get_id()) }}" method="post">
  <input class="danger" type="submit" value="delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}