<!doctype html>
<title>{% block title %} {% endblock %} - transect</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    menu:
    {% if g.username %}
        <a class="action" href="{{ url_for('home.index') }}">home</a>
        <a class="action" href="{{ url_for('auth.logout') }}">logout</a>
    {% else %}
        <a class="action" href="{{ url_for('auth.login') }}">login</a>
        <a class="action" href="{{ url_for('auth.register') }}">register</a>
    {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>