<html>
    <head>
        {% if title %}
        <title>{{ title }} - transect</title>
        {% else %}
        <title>transect</title>
        {% endif %}
    </head>
    <body>
        <div>
            Menu:
            <a class="action" href="{{ url_for('auth.login') }}">login</a>
            {% if g.username %}
              <a class="action" href="{{ url_for('home.index') }}">home</a>
              <a class="action" href="{{ url_for('auth.logout') }}">logout</a>
            {% else %}
              <a class="action" href="{{ url_for('auth.register') }}">register</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>