{% extends 'base.html' %}

{% block header %}
  {% block title %}all:{% endblock %}
  {% if g.username %}
    <a class="action" href="{{ url_for('series.add') }}">add</a>
  {% endif %}
{% endblock %}

{% block content %}
    {% if g.username %}
    
      <table>
      <thead>
        <th>name</th>
        <th>payer</th>
        <th>payee</th>
        <th>start date</th>
        <th>end date</th>
        <th>frequency</th>
      </thead>

      <tbody> 
        {% for s in series %}
          <tr>
            <td>{{ s.name }}</td>
            <td>{{ s.payer }}</td>
            <td>{{ s.payee }}</td>
            <td>{{ s.start_date.date() }}</td>
            <td>{{ s.end_date.date() }}</td>
            <td>{{ s.frequency.label }}</td>
            <td><a class="action" href="{{ url_for('series.edit', _id=s.get_id()) }}">edit</a></td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    {% endif %}
{% endblock %}
